@tailwind components;

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.page-component {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 32px;
}

/* Tab Components */
@layer components {
  .tab {
    @apply inline-block px-4 pt-4 pb-1 border-b-2 border-transparent rounded-t-lg
           text-gray-300 hover:text-green-600 dark:hover:text-green-600;
  }
}

.tab {
  transition: 0.4s;
}
